<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Data</title>
</head>

<body>
    <h1>State Demographics, Diversity, Economy, and Regions</h1>
    {% for state_id, state_info in state_data.items() %}
    <h2>State: {{ state_info['state_name'] }}</h2>

    <h3>Demographics:</h3>
    <ul>
        {% for demographic in state_info['demographics'] %}
        <li>Total Population: {{ demographic.total_population }}</li>
        <li>Age Distribution: {{ demographic.age_distribution }}</li>
        <li>Median Age: {{ demographic.median_age }}</li>
        <li>Urbanization Rate: {{ demographic.urbanization_rate }}</li>
        {% endfor %}
    </ul>

    <h3>Diversity:</h3>
    <ul>
        {% for diversity in state_info['diversity'] %}
        <li>Race/Ethnicity: {{ diversity.race_ethnicity }}</li>
        {% endfor %}
    </ul>

    <h3>Economy:</h3>
    <ul>
        {% for economy in state_info['economy'] %}
        <li>Gross State Product: {{ economy.gsp }}</li>
        <li>Unemployment Rate: {{ economy.unemployment_rate }}</li>
        <li>Median Household Income: {{ economy.median_household_income }}</li>
        <li>Poverty Rate: {{ economy.poverty_rate }}</li>
        <li>Major Industries: {{ economy.major_industries }}</li>
        {% endfor %}
    </ul>

    <h3>Regions:</h3>
    <ul>
        {% for region in state_info['regions'] %}
        <li>Region Name: {{ region.region_name }}</li>
        <li>State Count: {{ region.state_count }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>

</html>